ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

h1{
    font-size: 6rem;
}

button{
    color:white;
    background-color:#3939;
    text-align: center;
    font-size: 1rem;  
    border-radius: 10px;
    margin: auto;
}

button:focus {
    outline: 0;
}

body{
    width: 100%;
    background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#c2e59c, #fff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(#c2e59c, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img {
    width: 600px;
    height: 400px;
}


.jumbotron{
     max-width: 100%;
     margin: 0 auto;
     padding-top: 50px;
     text-align: center; 
}

.container {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}


.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}

.app {
    margin: 0 auto;
}

#note-textarea {
    margin: 20px 0;
}

#recording-instructions {
    margin: 15px auto 60px;
    font-size: 2rem;
    color:#3c604d
}

#notes {
    padding-top: 20px;
}

.toDoClass {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    }
}

